* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, p, span {
  font-family: "courier";
}

h2 {
  font-size: 1rem;
  margin: 0;
}

#welcome-text {
  color: black;
  opacity: 0.5;
}

body, html {
  background: F8F7FF;
  min-height: 100vh;
  margin: 0rem;
}

body {
  margin: 0 auto;
  width: 80%;
}

.welcomeDiv {
  padding: 3rem 3rem 0.5rem 3rem;
  text-align: center;
}

#submit-btn {
  display: inline-block;
  border-style: none;
}

#center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs {
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 25rem;
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background: #FFEBD6;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #ffd2a3;
}

.tab-label::after {
  content: '+';
  width: 1rem;
  height: 1rem;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1rem;
  background: white;
  display: none;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0rem;
  font-size: 0.75rem;
  background: #B8B8FF;
  cursor: pointer;
}

.tab-close:hover {
  background: #8585ff;
}

input:checked + .tab-label {
  background: #ffd2a3;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input:checked ~ .tab-content {
  max-height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  max-width: 100%;
  /*     #close-btn{
      border: none;
      color: red;
      font-size: 2rem;
      cursor: pointer;
      left: 20rem;
      bottom: 5rem;
      position: relative;
      background-color: inherit;
    } */
}

form ul {
  list-style: none;
  padding: 0;
}

form li {
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form li span {
  padding-right: 1rem;
}

form label {
  display: contents;
}

form input {
  width: 18rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  height: 2rem;
}

form input:focus {
  outline: none;
  border-color: #FFEBD6;
}

form #div-center-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form #submit-btn {
  font-size: 100%;
  width: 10rem;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: #ffd2a3;
  font-weight: bold;
  cursor: pointer;
}

form #checkbox-readStat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form #form-readStatus {
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

#bookShelfTitle {
  padding: 1rem 0 0 3rem;
}

.bookShelf {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: inherit;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookDiv {
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: courier;
  min-width: 12rem;
  min-height: 15rem;
  background: #B8B8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookDiv .bookInfo {
  max-width: 10rem;
  overflow-wrap: break-word;
}

.bookDiv .featureDiv {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookDiv .readLabel {
  opacity: 0.5;
  background-color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.bookDiv button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
/*# sourceMappingURL=style.css.map */