* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  font-family: "montserrat";
  margin: 0rem;
}

/* html{
  //background: $primary-color; 
} */
.welcomeDiv {
  padding: 3rem;
  background-image: url("img/pexels-min-an-694740-blurred.jpg");
  min-height: 10rem;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeDiv .welcomeText {
  background-color: rgba(0, 0, 0, 0.5);
}

.welcomeDiv h1, .welcomeDiv p {
  color: beige;
}

.addBookBtn, #submit-btn {
  width: 10rem;
  border-radius: 3em;
  background: #a6d3c0;
  margin: 0.5rem auto;
}

.addBookBtn h2, #submit-btn h2 {
  font-size: 0.8rem;
}

form {
  margin: 3rem auto;
  width: 24rem;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 1em;
}

form h2 {
  padding-left: inherit;
}

form #close-btn {
  border: none;
  color: red;
  font-size: 2rem;
  cursor: pointer;
  left: 20rem;
  bottom: 5rem;
  position: relative;
  background-color: inherit;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  margin-top: 1em;
  padding-left: 1rem;
}

form label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 10rem;
}

form input, form textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Match form field borders */
  border: 0.2rem solid rgba(0, 0, 0, 0.08);
  height: 2rem;
}

form input:focus,
form textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #a6d3c0;
}

form textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  height: 5em;
}

form #submit-btn {
  font-family: inherit;
  font-size: 100%;
  width: 10rem;
  margin-left: 1rem;
}

form #checkbox-readStat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form #form-readStatus {
  width: 1rem;
  margin-right: 0.5rem;
}

#bookShelfTitle {
  padding: 1rem 0 0 3rem;
}

.bookShelf {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: inherit;
  width: 100%;
}

.bookDiv {
  margin: 1rem;
  border-radius: 1.5rem;
  font-family: courier;
  min-width: 15rem;
  min-height: 20rem;
  background: #a6d3c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 12px 12px 2px 1px rgba(39, 174, 223, 0.2);
          box-shadow: 12px 12px 2px 1px rgba(39, 174, 223, 0.2);
}

.bookDiv .bookInfo {
  max-width: 10rem;
  overflow-wrap: break-word;
}

.bookDiv .featureDiv {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookDiv .readLabel {
  opacity: 0.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.bookDiv button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
/*# sourceMappingURL=style.css.map */