$primary-color: #bab8cb; 
$secondary-color: #B8B8FF;
$btn-color:  #FFCEAD;

* {
    box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  margin: 0;
}
body{
margin: 0 auto;
max-width: 80%;
}

h1, h2, p, span{
  font-family: "courier", sans-serif;
}

h2{
  margin: 0;
}

footer{
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}


#submit-btn{
  display: inline-block;
  border-style: none;
}
.container{
  text-align: center;
}
.tabs {
 border-radius: .5rem;
 overflow: hidden;
 box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
 max-width: 25rem;
 margin: 0 auto;

}
.tab {
 max-width: 100%;
 color: black;
 overflow: hidden;

 &-label {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   background: $btn-color;
   font-weight: bold;
   cursor: pointer;
   /* Icon */
   &:hover {
     background: darken($btn-color, 10%);
   }
   &::after {
     content: '+';//"\276F";
     width: 1rem;
     height: 1rem;
     text-align: center;
     transition: all .35s;
   }
 }
 &-content {
   max-height: 0;
   padding: 0 1rem;
   background: white;
   display: none;
   transition: all .35s;
 }
 &-close {
   display: flex;
   justify-content: flex-end;
   padding: 0;
   font-size: 0.75rem;
   background: $secondary-color;
   cursor: pointer;
   &:hover {
     background: darken($secondary-color, 10%);
   }
 }
}

input:checked {
 + .tab-label {
   background: darken($btn-color, 10%);
   &::after {
     transform: rotate(45deg);
   }
 }
 ~ .tab-content {
   max-height: 100%;
   padding: 1rem;
   display: flex;
 }
}
form {
  max-width: 100%;

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;

    span{
      padding-right: 1rem;
    }
  }
  
  label {
    display: contents;
  }
  
  input{
    width: 18rem;
    border: 0.2rem solid rgba($color: #000000, $alpha: 0.08);
    border-radius: 0.5rem;
    height: 2rem;
  }
  
  input:focus {
    outline: none;
    border-color: $btn-color;
  }

  .div-center-btn {
    display: flex;
    justify-content: center;
  }

  #submit-btn {
    font-size: 100%;
    width: 10rem;
    border-radius: 0.5rem;
    height: 2rem;
    background-color: darken($btn-color, 10%);
    font-weight: bold;
    cursor: pointer;
  }

  #checkbox-readStat{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #form-readStatus{
    width: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}


.bookShelf {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  max-width: 100%;
  justify-content: center;
}

.bookDiv {
  margin: 0.5rem;
  border-radius: 0.5rem;
  min-width: 12rem;
  min-height: 15rem;
  background: white;
  border-style: solid;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);

  .bookInfo{
    max-width: 10rem;
    overflow-wrap: break-word;
  }

  .featureDiv{
    justify-content: space-between;
    display: flex;
  }

  .readLabel {
    opacity: 0.5;
    background-color: inherit;
    width: fit-content;
    cursor: pointer;
  font-family: courier;

  }
  button {
    width: fit-content;
    border: none;
    cursor: pointer;
    background-color: inherit;
  }
}


@media (max-width: 640px) {
 .bookDiv {
    min-width: 25rem;
    min-height: 10rem;
 }
}